body {
  padding-top: 55px;
  opacity:	100%;
  background-color: #529EFE;
  color: #ffffffff;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Rajdhani';
}
#wrapper{
  position: relative;
  min-height: 85vh;
}
.footer {
	position: absolute;
	height: 2,5rem;
	bottom: 0px;
	width = 100%;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  font-size: 50px;

}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.container .marketing {
  position: relative;
  min-height: 100vh;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.my-divider {
  margin: 10px 100%; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}