body {
  padding-top: 7vh;
  background-color: #1d1c27;
  color: #ffffffff;
  font-family: 'Rajdhani';
  text-align: center;
}

.profile {
  border-radius: 50%;
}

.profile:hover {
  opacity: 70%;
  transition-duration: 0.3s;
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

.fa {
  color: white;
  border-radius: 50%;
  font-size: xx-large;
  padding: 10px;
  text-decoration: none;

}

.fa:hover {
  opacity: 50%;
  transform: scale(1.2);
  transition-duration: 0.1s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}